
<p>
  <strong>First Name:</strong>
  <%= @profile.first_name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @profile.last_name %>
</p>


<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>
 
<p>
  <strong>Logline:</strong>
  <%= @profile.logline %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>
